.DS_Store
Thumbs.db
*.log
*.env
*.env.*
.envrc

node_modules/
.next/
out/
coverage/
dist/
build/
.vscode/
.idea/
*.tsbuildinfo

# Anchor and Solana
target/
.anchor/
.mpl_cache/
keys/
test-ledger/
*.so
*.dylib
*.dll
*.exe
*.out

# Private artifacts copied by CI
private/

# Keep folders but ignore contents
public/assets/*
!public/assets/.gitkeep
programs/idl/*
!programs/idl/.gitkeep
devops/*
!devops/.gitkeep
